$bgColor        : rgb(127,63,251);
$bgGradient1    : rgba(127,63,251,1) ;
$bgGradient2    : rgba(99,70,252,1);
$color1         : rgb(11, 144, 93);
$color2         : rgb(42, 107, 206);
$fgColor        : rgb(183, 158, 231);
$mainText       : rgb(20, 20, 20);