@import './colors';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(127,63,251);
    background: linear-gradient(90deg, $bgGradient1 0%, $bgGradient2 100%);
    color: $mainText;
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

#preview{
    code {
        background: rgb(216, 216, 216);
        display: inline-block;
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
        padding: 2px 5px;
    }
}

.center{
    display: flex;
    justify-content: center;
}

.text-color1{
    color: $color1;
}

.text-color2{
    color: $color2;
}

.fg-color{
    background: $fgColor;
}


.container{
    padding: 0 20px;
    margin-bottom: 50px;
}

.md__container{
    display: flex;
    justify-content: space-between;
}

.md__input__container{
    position: relative;
}


.md__input{
    width: 45vw;
    height: 80vh;
    resize: none;
    padding: 10px;
    font-size: large;
    border: none;
}

.md__output__container{
    position: relative;
}

.md__output{
    width: 45vw;
    height: 80vh;
    padding: 10px;
    overflow-y: auto;
}

@media screen and (max-width: 900px){
    .md__container{
        display: block;
    }

    .md__input{
        width: 80%;
    }

    .md__output{
        width: 80%;
    }
}